@import "~styles/variables";

.dialogs {
   &__search {
      padding: 2px 20px 20px 20px;

      input {
         background-color: #F7F8F9;
         border: 0;
         line-height: 32px;
         height: 34px;

         &:hover, &:focus {
            background-color: #F7F8F9;
         }
      }

         button {
             height: 26px;
             background-color: #F7F8F9;
             border: 0;

             &:hover {
                 background-color: #F7F8F9;
             }
         }
     }

   &__item {
      $item: &;
      display: flex;
      margin-bottom: 20px;
  
      &-avatar {
        position: relative;
        flex: 0 0 40px;
        width: 40px;
        height: 40px;
        margin-right: 10px;
        img {
          width: 100%;
          height: 100%;
          border-radius: 50%;
        }
      }

      &--online {
         display: flex;
         margin-bottom: 20px;

         #{$item}-avatar {
           &::before {
             display: block;
             position: absolute;
             bottom: -2px;
             right: 0;
             content: "";
             background-color: #00c980;
             border-radius: 30px;
             width: 13px;
             height: 13px;
             border: 3px solid #fff;
           }
         }
       }

      &-info {
         display: flex;
         flex-direction: column;
         justify-content: center;
         flex: 1;

         &-top {
            display: flex;

            b {
               font-weight: 500;
               font-size: 14px;
               margin-bottom: 7px;
               flex: 1;
            }

            span {
               opacity: 0.4;
            }
         }

         &-bottom {
            position: relative;

            p {
               opacity: 0.5;
               text-overflow: ellipsis;
               overflow: hidden; 
               width: 220px; 
               height: 1.2em; 
               white-space: nowrap;
            }

            &-count {
               position: absolute;
               right: 0;
               top: 0;
               background-color: #F46B6B;
               color: #fff;
               font-weight: bold;
               font-size: 11px;
               line-height: 17px;
               text-align: center;
               width: 100%;
               min-width: 18px;
               max-width: 22px;
               height: 18px;
               border-radius: 30px;
               box-shadow: 0 0 0px 3px #fff;
            }

            .message__icon-readed {
               bottom: 0;
               left: auto;
               right: 0;
            }
         }
      }

     
   }
}